In [1]:
import numpy as np
import pandas as pd

In [13]:
data2 = pd.DataFrame(np.random.rand(6, 4), columns=list('ABCD'))
data2

          A         B         C         D
0  0.627850  0.986475  0.758975  0.399208
1  0.655015  0.620455  0.969185  0.032055
2  0.603497  0.801268  0.815999  0.440737
3  0.788871  0.956759  0.271561  0.487631
4  0.042110  0.248763  0.261856  0.371772
5  0.234784  0.901550  0.818261  0.374634

In [14]:
dates = pd.date_range('20170301', periods=6)
data2.index = dates
data2

                   A         B         C         D
2017-03-01  0.627850  0.986475  0.758975  0.399208
2017-03-02  0.655015  0.620455  0.969185  0.032055
2017-03-03  0.603497  0.801268  0.815999  0.440737
2017-03-04  0.788871  0.956759  0.271561  0.487631
2017-03-05  0.042110  0.248763  0.261856  0.371772
2017-03-06  0.234784  0.901550  0.818261  0.374634

In [15]:
data2.sort_values(by='D', ascending=False)

                   A         B         C         D
2017-03-04  0.788871  0.956759  0.271561  0.487631
2017-03-03  0.603497  0.801268  0.815999  0.440737
2017-03-01  0.627850  0.986475  0.758975  0.399208
2017-03-06  0.234784  0.901550  0.818261  0.374634
2017-03-05  0.042110  0.248763  0.261856  0.371772
2017-03-02  0.655015  0.620455  0.969185  0.032055

In [16]:
data2.iat[3,3]

0.48763126906913057

In [17]:
data2[['A', 'C']][(data2.B>0)&(data2.D>0)]

                   A         C
2017-03-01  0.627850  0.758975
2017-03-02  0.655015  0.969185
2017-03-03  0.603497  0.815999
2017-03-04  0.788871  0.271561
2017-03-05  0.042110  0.261856
2017-03-06  0.234784  0.818261

In [18]:
goal_list = [0.1, 0.2, 0.3]
data2.D.isin(goal_list)

2017-03-01    False
2017-03-02    False
2017-03-03    False
2017-03-04    False
2017-03-05    False
2017-03-06    False
Freq: D, Name: D, dtype: bool

In [19]:
data2.insert(1, 'a', np.random.randn(6))
data2

                   A         a         B         C         D
2017-03-01  0.627850 -1.364124  0.986475  0.758975  0.399208
2017-03-02  0.655015 -1.132142  0.620455  0.969185  0.032055
2017-03-03  0.603497 -0.809313  0.801268  0.815999  0.440737
2017-03-04  0.788871  0.226828  0.956759  0.271561  0.487631
2017-03-05  0.042110  0.605538  0.248763  0.261856  0.371772
2017-03-06  0.234784 -0.941181  0.901550  0.818261  0.374634

In [21]:
df = data2.drop(['a'], axis=1)
df

                   A         B         C         D
2017-03-01  0.627850  0.986475  0.758975  0.399208
2017-03-02  0.655015  0.620455  0.969185  0.032055
2017-03-03  0.603497  0.801268  0.815999  0.440737
2017-03-04  0.788871  0.956759  0.271561  0.487631
2017-03-05  0.042110  0.248763  0.261856  0.371772
2017-03-06  0.234784  0.901550  0.818261  0.374634

In [23]:
df2 = df[df['A'] > 0.5]
df2

                   A         B         C         D
2017-03-01  0.627850  0.986475  0.758975  0.399208
2017-03-02  0.655015  0.620455  0.969185  0.032055
2017-03-03  0.603497  0.801268  0.815999  0.440737
2017-03-04  0.788871  0.956759  0.271561  0.487631

In [24]:
df2.A.value_counts()

0.603497    1
0.655015    1
0.788871    1
0.627850    1
Name: A, dtype: int64

In [25]:
df2.A.sum()

2.6752333447389445