In [1]:
import numpy as np
import pandas as pd

In [2]:
data2 = pd.DataFrame(np.random.rand(6, 4), columns=list('ABCD'))
data2

          A         B         C         D
0  0.269491  0.419592  0.347843  0.008099
1  0.022233  0.109649  0.922173  0.978725
2  0.088555  0.837524  0.353767  0.604727
3  0.468197  0.209028  0.326888  0.911569
4  0.537414  0.442185  0.785018  0.777877
5  0.096484  0.543530  0.712655  0.001971

In [5]:
dates = pd.date_range('20170301', periods=6)
data2.index = dates
data2

                   A         B         C         D
2017-03-01  0.269491  0.419592  0.347843  0.008099
2017-03-02  0.022233  0.109649  0.922173  0.978725
2017-03-03  0.088555  0.837524  0.353767  0.604727
2017-03-04  0.468197  0.209028  0.326888  0.911569
2017-03-05  0.537414  0.442185  0.785018  0.777877
2017-03-06  0.096484  0.543530  0.712655  0.001971